<%= form_with scope: :ranger, url: rangers_path, local: true do |form| %>

	<% if params.has_key?(:park_id) %>
		<!-- if the url is nested -->
    <%= form.hidden_field :park_id, value: params[:park_id] %>
	<% else %>
		<!-- otherwise let the user choose the park -->
	  <%= form.collection_select :park_id, @parks, :id, :name %>
	<% end %>


  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>